.col-lg-4
  .follower
    - if (user.avatar_url !== undefined)
      img(class="follower__image", src=user.avatar_url)
    div.follower__user-info
      span.follower__handle
        - if (user.avatar_url !== undefined)
          a(href="/users/" + user._id) @#{user.url_path}
