/* Profile Card */

@import '../abstracts/placeholders';
@import '../abstracts/variables';

.profile {
  @extend %block-content;
  text-align: center;
}

.profile__handle {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.profile__image {
  border: 0;
  border-radius: 50%;
  width: 150px;
  max-width: 100%;
  overflow: hidden;
  min-width: 138px;
  min-height: 138px;
  padding: 6px;
  background-color: #fff;
}

.profile__messaging-options {
  .btn {
    margin: 10px;
  }
}

.profile__follow {
  margin: 10px 0;
}

.following-list {
  text-align: left;
  border-bottom: 1px solid $dodger-blue;

  a {
    p {
      color: $white;
    }
  }
}

.profile__follow-button.following,
.profile__follow__delete-button.following {
  background-color: $go-red;

  &:hover {
    background-color: darken($go-red, 15%);
  }
}

.profile-description {
  p {
    border: 1px solid $black;
    border-radius: 11px;
    padding: 8px;
    word-break: break-all;
    line-height: 1.6rem;
    background-color: $yankees-blue;
  }
}
