/* Tweets */

@import '../abstracts/placeholders';
@import '../abstracts/variables';

.tweet {
  @extend %block-content;
  color: $white;
}

.tweet::after {
  content: "";
  clear: both;
  display: block;
}

.tweet__image {
  border-radius: 50%;
  height: 40px;
  border: 1px solid $black;
}

.logout-image {
  height: 20px;
}

.tweet__description {
  padding-left: 16px;
}

.tweet__content {
  line-height: 2rem;
  word-wrap: break-word;
  margin:5px 0 10px 0.2rem;
}

.tweet__form {
  .tweet__edit {
    background-color: $jungle-green;

    &:hover {
      background-color: darken($jungle-green, 15%);
    }
  }
  .tweet__delete {
    margin-left: 10px;
    background-color: $go-red;

    &:hover {
      background-color: darken($go-red, 15%);
    }
  }
}

.tweet__username a {
  color: $white;
  font-weight: bold;
}

.tweet__date,
.tweet__date a {
  color: $grey-blue;
}

.tweet textarea.edit-tweet {
  margin: 10px 0 15px;
}

.tweet textarea {
  font-size: 13px;
  background-color: $dark-jungle-green;
  border-color: $black;
  display: block;
  padding: 6px 12px;
  color: $white;
  border-radius: 4px;
  width: 100%;
}

.tweet__comments .btn {
  margin: auto;
  display: block;
  margin-top: 10px;
}

.tweets__comment-image {
  border-radius: 50%;
  height: 20px;
  border: 1px solid $black;
  margin-right: 6px;
}

.notification-icon {
  margin-right: 10px;
}

.recommanded-user  {
  ul {
    margin:0 0 0 0;
    li {
      margin: 0 0 1rem 0;

      a.btn {
        height: 26px;
        float: right;
        margin: 1rem 0 0 1rem;
      }
    }
  }
}

.new-tweet-iframe {
  form {
    flex:1;
    position: relative;

    button {
      position: absolute;
      right: 12px;
      bottom: 8px;
    }
  }
}
