extends ../layouts/default

block content
  .row.login
    .col-md-4.login-container
      div.login-form: form(method='post', action="/users/sessions", class='form-vertical')
        fieldset
          legend: strong.text-info CONNEXION
          input(type="hidden", name="login")

          div.form-group.text-left
            label E-mail:
            input.form-control(name='email', type='email', required=true, autofocus)

          div.form-group.text-left
            label Mot de passe:
            input.form-control(name='password', type='password', required=true)

          if (message != '')
            div.alert.alert-danger
              p #{message}

          div.form-actions
            input.w-100.btn.p-2.btn-primary(type='submit', value='Se connecter')
          p.mt-3
            a.forget-password-button(href="#") Mot de passe oublié ? ·
            a.signup-button(href="/signup")   S'inscrire
