extends ../layouts/default

block content
  .row.twitter-container
    .col-xl-12.col-lg-12.first-column
      .logged-user
        .row.chatbox
          - if (chats.length == 0)
            h2 aucun message reçu !
          ul.chatlist
            - if (chats)
              each chat in chats
                li
                  - if (chat.sender !=  null)
                    div.chat-users
                      a(class='sender', href="/users/" + chat.sender._id)
                        img(class='tweet__image', src=chat.sender.avatar_url)
                        p.sender #{chat.sender.username}
                    div.message
                      p.message #{chat.message}
                      span.msgtime #{moment(chat.createdAt).format("D MMM, YYYY [à] h:mm")}

